.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    background-color: #FFF8F3;

}
.top_header{
    background-image: url("../images/developer.png"), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.text_head{
    font-size: 45px;
    font-weight: 800;
    margin-left: 236px;
}
.nav_head{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    align-items: center;
}
#span_r{
    color: #FD6E0A;
}
.c_color1,#id_h4,#id_p{
    color: #474747;
}
.uni_button{
    padding: 18px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
}
.btn_down{
    font-size: 20px;
    font-weight: 700;

}
.nav_head ul button{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
}
.nav_head ul{
    margin-right: 200px;
    display: flex;
    align-items: center; /*either this*/
}
.nav_head ul li{
    list-style: none; 
    font-size: 20px;   
    margin-right: 51px;
    align-content: center; /*or this*/
}
.nav_head ul li a{
    text-decoration: none;
}
#id_h4{
    font-size: 45px;
    font-weight: 600;
}
#id_h1{
    font-size: 85px;
    font-weight: 700;
}
#id_p{
    font-size: 18px;
    font-weight: 400;
}
#id_img{
    height: 676px;
    width: 584px;
    margin-right: 38px;
}
.header2_div{
    display: flex;
    justify-content: space-between;
}
.sub_head1{
    height: 387px;
    width: 585px;
    margin-left: 236px;
}
/* Header Section Done */
/* Main Section Starts -------------------------------------------------------------------------------------*/
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about_sec{
    border-radius: 10px;
    padding: 131px 156px;
    text-align:center;
    border: 1px solid black;
    margin-top: 130px;
}
.main_div{
    background-color: white;
    border: 1px solid black;

}
.secondary_bg{
    background-color: #FFF8F3;
}
.common_text{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.common_des{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}
.about_items{
    display: flex;
    justify-content: space-around;
}
.item_title{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}
.item_description{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

.skills_sec{
    margin-top: 130px;
    text-align: center;
}
.skills_container{
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 24px
;
}
.skill{
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.new_des{
    margin-bottom: 50px;
}
.skill_title{
    font-size: 20px;
    font-weight: 700;
    color: #181818;
}
.skill_description{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}
/* Main Section Ends -------------------------------------------------------------------------------------*/
/* Resume Section Starts ---------------------------------------------------------------------------------*/
.resume{
    text-align: left;
}
.resume_title{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-top: 130px;
    margin-bottom: 113px;
    text-align: center;
}
.main_resume_div{
    display: flex;
    gap: 71px;
}
.my_edu{
    font-size: 30px;
    font-weight: 470;
    color: #474747;
    margin-bottom: 30px;
}
.sub_edu{
    /* border-bottom: 1px solid #D1D1D1; */
    max-width: 511px;
    gap: 24px;
}
.h5_course{
    font-size: 25px;
    font-weight: 700;
    color: #474747
}
.p_college{
    font-size: 20px;
    font-weight: 600;
    color: #757575
}
.p_des{
    font-size: 16px;
    font-weight: 400;
    color: #757575
}
.btn_resume{
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 113px;
}
/* Resume Section Ends ---------------------------------------------------------------------------------*/
/* Footer Section Starts -------------------------------------------------------------------------------*/
footer{
    max-width: 1140px;
    margin: 0 auto;
}
.footer_main_div{
    display: flex;
    margin: 0px auto;
}
.footer_column{
    width: 50%;
    display: block;
}
.footer_des{
    font-size: 16px;
    font-weight: 400;
    color: #474747;
    max-width: 562px;
    margin-bottom: 30px;
}
.footer_img{
    max-width: 120px;
    max-height: 24px;
    justify-content: space-evenly;
}
.common_box{
    height: 67px;
    width: 461px;
    border-radius: 5px;
    gap: 24px;
    background-color: white;
    padding: 10px 30px;
    margin-bottom: 24px;
    border: none;
}
.btn_foot{
    margin-bottom: 130px;
}

